{% extends 'base.html' %}
{% block title %}about{% endblock title %}

{% block body %}
<p>our ice cream is the best icecream</p>
    
<h1>if any inqurey please tell me </h1> 
<p>Sure! Ice cream parlors are delightful places where people can indulge in a variety of ice cream flavors and frozen treats. They often feature a menu with classic flavors like vanilla, chocolate, and strawberry, as well as unique and seasonal options. Some parlors also offer additional treats like sundaes, milkshakes, and ice cream sandwiches.

    Beyond just serving ice cream, many parlors create a fun atmosphere with colorful decor, playful names for their creations, and sometimes even games or activities for kids. They often focus on quality and creativity, using high-quality ingredients and offering options for dietary restrictions, like dairy-free or low-sugar choices. 
    
    Ice cream parlors have been a staple of American culture for over a century, often evoking a sense of nostalgia and joy. They can be found in almost every city and town, from cozy neighborhood spots to trendy, upscale establishments. Do you have a favorite ice cream flavor or a memorable ice cream parlor experience?</P>   

<img src="/static/img/first pic1.jpg" class="img-thumbnail" alt="...">



{% endblock body %}
